@use "../../styles/global.scss" as *;

#services {
  background-color: $primary-background;
  color: #fff;
  padding: 7rem 5%;
  height: auto;
  .left-side {
    min-height: 50vh;
    background-image: url("../../assets/images/servicesImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .right-side {
    text-align: start;
    align-items: start;
    padding-left: 5%;
    ul {
      padding: 0;
      font-size: 18px;
    }
  }
}
@media (max-width:768px){
    .services-content{
        flex-direction: column-reverse;
        .right-side{
            padding-bottom: 10%;
            ul{
                gap: 30px !important;
            }
            li{
                font-size: 16px;
            }
        }
        .left-side{
            background-size:90% !important;
        }
    }
}
