@use "../../styles/global.scss" as *;

#purpose-sec {
  background-color: $primary-background;
  height: 100%;
  width: 100%;
  padding: 3rem 5%;
  .purpose-sec {
    background-image: url("../../assets/images/purposeBg.webp");
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .purpose-sec-border-top {
      width: 0;
      height: 1px;
      background-color: #b4b2b2;
      position: absolute;
      top: 10%;
      right: 0; // sağdan başlasın
      left: auto;
      transition: width 2s ease-in-out;
    }
    &:hover .purpose-sec-border-top {
      width: 100%;
    }
    .purpose-sec-border-left{
      width: 1px;
      height: 0;
      background-color: #b4b2b2;
      position: absolute;
      bottom: 0;
      left: 10%;
      transition: to top 5s ease-in-out;
    }
    &:hover .purpose-sec-border-left {
      height: 100%;
    }
    .purpose-sec-content {
      color: #fff;

      h1 {
        font-size: 46px;
        padding-bottom: 20px;
      }
      p {
        width: 45%;
        text-align: center;
        font-size: 16px;
        padding-bottom: 30px;
      }
    }
  }
}
@media (max-width: 768px) {
  #purpose-sec {
    padding: 0 !important;

    .purpose-sec {
      height: 80vh !important;
    }
  }
  .purpose-sec-content {
    background-size: contain;
    h1 {
      font-size: 30px !important;
    }
    p {
      width: 90% !important;
      font-size: 14px !important;
      padding-bottom: 10px !important; 
    }
  }
}
