@use "../../styles/global.scss" as *;



#about-hero-sec {
  background-color: $primary-background;
  width: 100%;
  height: 100vh auto;
  position: fixed;
  z-index: -2;
  top: 0;
  .about-hero {
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 0;
     &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #1715155b, #1715157e);
      pointer-events: none;
      z-index: 1;
    }
    h1{
      z-index: 2;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
  }
}
