@use "../../styles/global.scss" as *;

#project-sec{
    background-color:$primary-background;
    color: #fff;
    padding: 7rem 5%;
    .project-sec-container{
        border: 2px solid #fff;
    }
}