.about-card {
  color: #ffff;
  height: auto;

  .img {
    // background-image: url("../../assets/images/aboutCardImg2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    overflow: hidden;
    img {
      transition: all 0.3s ease-in-out;
      height: 100%;
      scale: 1.2;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  h3 {
    font-size: 20px;
  }
  .primary-button {
    min-width: 160px;
  }
  .project-text {
    min-height: 100px;
    justify-content: space-around;
    .location {
      font-size: 14px;
    }
  }
}
@media (max-width: 576px) {
  .about-card {
    .img {
      height: 300px !important;
    }

    .primary-button {
      margin-top: 10px;
      width: 100%;
    }
  }
}
