.about-card {
  color: #fff;
  height: auto;
  position: relative;
&:hover{
  cursor: pointer;
  .project-text{
    transform: translateY(0) !important;
    transition: all 300ms ease;
  }
  .location{
    display: block !important;
    transition: all 500ms ease;
  }
}
 
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    position: relative; 
    z-index: 0;
    img {
      transition: all 0.3s ease-in-out;
      height: 100%;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: linear-gradient(to top, #000000e7, transparent 40%);
      z-index: 2;
      pointer-events: none; 
    }
    &:hover::after {
      background: linear-gradient(to top, #000000f7, #0000001b 100%);
    }
  }
  
  


  .card-content{
    position: absolute;
    bottom: 10px;
     .project-text{
      font-size: 14px;
     transform: translateY(20%); 
     padding-left: 10px; 

      
  h3 {
    font-size: 20px;
  }
      .location {
    display: none;
    font-size: 14px;
    color: #ddd;
    transition: opacity 0.5s ease; 
  }
    }
    
 
   
  }
}

@media (max-width: 576px) {
  .about-card {
    .img {
      height: 300px !important;
     
    }
    .project-text{
      gap:5px;
    }
     h3{
        font-size: 16px !important;
      }
      p{
        font-size: 12px !important;
      }
   
  }
}

