$primary-color: #daa939;
$primary-text-color: #E2E2E2;
$primary-title-color:#FFFFFF;
$primary-background: #121212;
$head-text-size:40px;

.primary-icon {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: $primary-color;
  color: #000000;
}

.primary-button{

   width: 150px;
    height: 50px;
    border-radius: 48px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    transition: all 300ms;
    outline: none;
    &:hover{
      background-color: #fff;
      color: #000000;
    }
}
