
@use "../../styles/global.scss" as*;

nav {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: #fff;
  .navbar {
    height: 100%;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  transition: background-color 300ms ease, color 0.2s ease;

    .nav-logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        margin-left: 40px;

        a {

          text-decoration: none;
          transition: 0.3s;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }


    .menu-toggle {
      font-size: 1.5rem;
      cursor: pointer;
    }

    
    .bar-content {
      position: fixed;
  top: 0;
  right: -100%;
  width: 90%;
  min-height: 100vh;
  color: #fff;
  transition: right 0.3s ease-in-out;
  overflow-y: auto; 

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: -1; // kontentin arxasında qalsın
  }





      
      ul li {
        margin: 20px 0;
    
        a {
          
          font-size: 1.2rem;
          padding-left: 30px;
        }
      }

      &.active {
        right: 0; 
      }
    }
  }
}

@media screen and (max-width: 576px) {
  nav {
    height: 70px !important;
  }
}
