@use "../../styles/global.scss" as *;

#appreciation-sec {
  background-color: $primary-background;
  color: #fff;
  padding: 1rem  5%;
  overflow-x: hidden;
  .appreciation-content {
    padding: 0 !important;
    .left-side {
      p {
        padding-right: 10%;
        color: $primary-text-color;
      }
    }
    .right-side {
      max-width: 100%;
      min-height: 100%;
      padding: 0;
      img {
        max-width: 100%;
        display: block; 
      }
    }
    .counters {
      width: 50%;
    }
  }
}
@media screen and (min-width:1024px){
  .appreciation-content {
    .right-side {
      max-height: 70vh !important;
    }

  }
}
@media screen and (max-width: 768px) {
  .appreciation-content{
    .left-side {
    padding-bottom: 50px;
    p {
      padding-right: 0 !important;
      font-size: 14px !important;
    }
    .counters {
      width: 100% !important;
    }
    .right-side {
      padding-top: 50px;
      max-height: 30vh !important;
      
    }
  }
  }
}
