
@use "../../styles/global.scss" as *;

#about-projects{
    background-color: $primary-background;
     position: relative;
  z-index: 1;
  margin-top: 50vh;
    .projects-content{
        padding: 7rem 5% ;

    }
    
}
.swiper-button-next,
.swiper-button-prev {
  font-size: 10px !important; 
  color: #fff !important;
  width: 30px !important;
  height: 30px !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important; 
}

.modal-content {
  background: #3a37376c; 
  backdrop-filter: blur(12px);          
  -webkit-backdrop-filter: blur(10px);  
  border-radius: 12px; 
}
.modal-body img {
  max-height: 80vh; 
  margin: 0 auto;  
  display: block;
  object-fit: contain; 
  
}
@media (max-width:576px){
    .projects-content{
        padding: 7rem 5% ;
        .primary-button{
            margin-top: 10px;
            width: 100%;
        }
    }
}
