
@use "../../styles/global.scss" as *;
#who-are-we{
    background-color:$primary-background;
    color: #ffff;
    padding: 4rem 5%;
    margin-top: 50vh;
    .section-top{
        padding-bottom: 30px;
        h1{
            padding-bottom: 30px;
        }
        p{
            color: $primary-text-color;
        }
    }
    .section-bottom{
        height: 50vh;
    }
}
@media (max-width:576px){
    #who-are-we{
        padding: 1rem 5% !important;
    }
    .who-are-we-sec{
        .section-top{
            p{
                font-size: 14px !important;
            }
        }
       
    }
}
